* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #172627;
}

header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 25pt;
  color: white;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #20CD8D;
  margin: 10px 100px 10px 100px;
  width: auto;
  border: 1px solid #7ef5c9;
  border-radius: 20px;
  padding-bottom: 20px;
  color: rgb(13, 13, 13);
}
.secoes {
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
}

.input {
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
button {
  width: 150px;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  border: none;
  transition: all 0.3s;
  background-color: #172627;
  color: white;
  margin-bottom: 15px;
}

button:hover {
  background-color: rgb(15, 38, 57);
  box-shadow: 0px 10px 5px rgba(125, 11, 11, 0.464);
}

select {
  cursor: pointer;
}


@media (min-width: 768px) {
  .input{
    width: 300px;
  }
  button{
    width: 50%;
  }

  #form{
    width: 500px;
    display: flex;
    justify-content: center;
    margin: auto;
    
  }
}
