
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #2D2D2D;
}


.container {
  position: relative;
  height: 5vh;
  background-color: #0C70F2;
  padding: 20px;
}

.container-body h1{
  display: flex;
  justify-content: center;
  margin-top: 13vh;
  color: #FFFFFF;
  font-family: 'Poppins';
  font-weight: 600;
}

.header-title{
  display:flex;
  justify-content: center;
  text-align: center;
}
.container-body h2{
  color: #FFFFFF;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 1.8rem;
  margin: 6rem;
  margin-bottom: 1.5rem;
}
.bottom-left {
  position: absolute;
  bottom: 0;
  left: 4rem;
  display: flex;
  align-items: center;
  font-family: 'Poppins';
  color:#FFFFFF;
  font-size: 1.3rem;
}

.word {
  margin-right: 2rem;
}

.background-word{
  background-color: #ffffff;
  color:#0C70F2;
  height: 6vh;
  width: 19vh;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display:flex;
  justify-content: center;
  align-items: center;
}

.line-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.line{
  width: 41vw;
  height: 0.4rem;
  background-color: #D9D9D9;
  
}


.task-container{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
h3{
  font-family: 'Raleway';
  font-weight: 400;
  font-style: italic;
  color: #FFFFFF;
  font-size: 1.3rem;
  margin-left: 30vw;

 

}

.icon-style{
  color: #FFFFFF;

}


.transparent-button{
  background-color:transparent;
  border: 0;
  padding: 0;
}



.input-style{
  display: flex;
  border-radius: 5px;
  border: none;
}
.input-style input{
  width: 20rem;
  height: 2rem;
}

.input-style button{
  background-color: #0C70F2;
  color: #FFFFFF;
}

.icon-style{
  width: 100%;
}

.saved-text{
  color: #FFFFFF;
}

.output-style{
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}


.input-container{
  display: flex;
  text-align: center;
  justify-content: center;
}

.plus-input{
  margin-right: 30vw;
  color: #FFFFFF;
}

.input-text{
  margin-right: 32em;
  display: flex;

}

.add-button {
  background: none;
  border: none;
  cursor: pointer;
}

.task-item{
  display: flex;
  width: 55%;
  margin-bottom: 1rem;
  justify-content: center;
  margin-left: 31vh;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 1.2rem;
}

.elements{
  flex: 2;
}

.checkbox-input{
  flex-grow: 1;
  height: 1.5rem;
  padding: 0.3rem;
  border-radius: 5px;
}


.checkbox-image{
  background-color: #0C70F2;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-left: 0.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkbox-image:hover{
  background-color: #0056b3;
}


@media only screen and (max-width: 1440px) and (min-width: 900px){
  .line{
    width: 48vw;
  }

  .task-item{
    margin-left: 28vh;
    width: 64%;
  }

  h3{
    margin-left: 27vw;
  }

  .plus-input{
    margin-right: 26vw;
  }
}

@media only screen and (max-width: 1280px){
  .line{
    width: 54vw;
  }

  .task-item{
    margin-left: 30vh;
    width: 72%;
  }

  h3{
    margin-left: 24vw;
  }

  .plus-input{
    margin-right: 25vw;
  }
}

