*{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #FFD900;
    padding: 20px;
    padding-left: 40px;
}



#chamada{
    display: flex;
    flex-direction: row;
}

#informativo{
    background-color: #514988;
    width: 45%;
    height: 705px;
    text-align: center;
    font-weight: 700;
}

#informativo h1{
    font-size: 70px;
    color: #F3C61F;    
    padding-top: 30px;
    padding-bottom: 25px;
}

#informativo h3{
    color: #FFFFFF;
    font-size: 30px;
    padding-bottom: 35px;
}

#informativo p{
    color: #FFFFFF;
    font-size: 29px;
    font-weight: 400;
}

#countDown{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-bottom: 0px;    
}

.timer{
    font-size: 35px;
    padding-left: 40px;
    color: #514988;
}

#countVideo h2 {
    color: #E33881;
    padding-left: 55px;
    font-size: 30px;
    display: flex;    
    
}

video{
    width: 880px;
    height: 550px;
    padding: 20px;
    margin-top: 0;
}

#ingressos{
    padding: 15px;   
}

#ingressos h2{
    color: #F3C61F;
    font-size: 27px;
    padding-left: 25px;
}

#cards{
    display: flex;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 50px;
    cursor: pointer;
}



button{
    background-color: #514988;
    width: 560px;
    height: 148px;
    color: #FFFFFF;
    border: 0px;    
    border-radius: 20px;
    font-size: 50px;
    font-weight: 700;
    margin-left: 150px;
    margin-top: 24px;
    padding: 15px;
    cursor: pointer;
}

button:hover{
    transform: translateY();
    transition: 0.3s;
    background-color: #8c41d3;
}



