* {
  color: aliceblue;
  margin: 0px;
  font-family: "inter";
}

html {
  background: black;
}

.header {
  background-image: url(imagens/fundo-menusuperior.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
}

#logo {
  margin-top: 50px;
  margin-left: 50px;
}
#título-menusuperior {
  margin-top: 75px;
  margin-left: 150px;
}
#texto-menusuperior {
  margin-top: 50px;
  margin-left: 150px;
}
