@use "../../Sass/variables" as *;

.card_editTask{
    background-color:$card-background;
    width: 20em;
    height: 20em;
    margin-left: 3rem;
    padding-left: 2.5rem;
    border-radius: .5em;
    
    h1{
        color: #000;
        margin-left: 0em;
        margin-bottom: 0.5em;
    }

    
    label{
        color: #000;
    }

       

    .time_date{
        display: flex;
        column-gap: 1.6em;

        input{
            height: 2em;
            
        }
    }
   

    .container-btn {
        display: flex;
        margin-top: 1em;
    }
    
      .btnCard_sim {
        background-color: $btn-yes-background;
        width: 09em;
        height: 3em;
        border-radius: 0.6em;
        border: 1px solid #000;
        margin-left: 1.5em;
        color: #000;
        font-weight: bold;
      }
    
      .btnCard_nao {
        background-color: $btn-no-background;
        width: 09em;
        height: 3em;
        border-radius: 0.6em;
        margin-left: -1em;
        font-weight: bold;
        border: none;
      }
    
      .btnCard_sim:hover,
      .btnCard_nao:hover {
        box-shadow: 05px 05px #000;
      }

}