* {
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

header {
  background-color: #ffd900;
  padding: 20px;
  padding-left: 40px;
}

#chamada {
  display: flex;
  flex-direction: row;
}

#informativo {
  background-color: #514988;
  width: 45%;
  height: 705px;
  text-align: center;
  font-weight: 700;
}

#informativo h1 {
  font-size: 70px;
  color: #f3c61f;
  padding-top: 30px;
  padding-bottom: 25px;
}

#informativo h3 {
  color: #ffffff;
  font-size: 30px;
  padding-bottom: 35px;
}

#informativo p {
  color: #ffffff;
  font-size: 29px;
  font-weight: 400;
}

#countDown {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-bottom: 0px;
}

.timer {
  font-size: 35px;
  padding-left: 40px;
  color: #514988;
}

#countVideo h2 {
  color: #e33881;
  padding-left: 55px;
  font-size: 30px;
  display: flex;
}

video {
  width: 880px;
  height: 550px;
  padding: 20px;
  margin-top: 0;
}

#ingressos {
  padding: 15px;
}

#ingressos h2 {
  color: #f3c61f;
  font-size: 27px;
  padding-left: 25px;
}

#cards {
  display: flex;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 50px;
  cursor: pointer;
}

button {
  background-color: #514988;
  width: 560px;
  height: 148px;
  color: #ffffff;
  border: 0px;
  border-radius: 20px;
  font-size: 50px;
  font-weight: 700;
  margin-left: 150px;
  margin-top: 24px;
  padding: 15px;
  cursor: pointer;
}

button:hover {
  transform: translateY();
  transition: 0.3s;
  background-color: #8c41d3;
}

@media only screen and (max-width: 600px) {
  #chamada {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  #informativo {
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
  }

  #informativo h1 {
    text-align: center;
  }

  #informativo h3 {
    padding-bottom: 0px;
  }

  #countDown {
    width: 100%;
  }

  #countVideo h2 {
    font-size: 20px;
    text-align: center;
    padding: 0px;
  }

  .timer {
    font-size: 15px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  }

  video {
    height: 250px;
    width: 92%;
    padding-bottom: 0px;
    padding: 0px;
    margin-left: 15px;
  }

  #ingressos {
    padding: 5px;
  }

  #ingressos h2 {
    margin-top: 0px;
    padding-left: 0px;
    padding-top: 0px;
    font-size: 23px;
    text-align: center;
    padding: 0px;
  }

  #cards {
    width: 100%;
    flex-direction: column;
    padding: 5px;
    margin: 0px;
  }

  button {
    width: 90%;
    height: 100px;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 30px;
    margin-bottom: 15px;
  }
}
