.modalOverlay{
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.modalContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 50%;
    height: 50vh;
    border-radius: 8px;
}

.btn{
    display: flex;
    flex-direction: row;
    width: 80%;

}
.btnB{
    background-color: #FFFFFF;
    border: #000000;
    height: 50vh;
}
h4{
    font-family: "Raleway";
    font-weight: 600;
    color: #000000;
}

h5{
    font-family: "Raleway";
    font-weight: 400;
}

