#finalsLogo {
    width: 14rem;
    height: 4rem;
    margin-left: 2%;
    margin-top: 3px;
}

#menuText {
    padding-bottom: 4%;
    margin: 0;
}

#videoNba {
    border-radius: 5px;
    margin-right: 2%;
}


#bet {
    padding-top: 2%;
    padding-bottom: 4%;
    margin: 0;
}

.imgGame {
    margin-bottom: 2%;
    width: 90%;
    height: 90%;
}

.imgGame:hover {
    box-shadow: 4px 4px 4px #45ff01;
    transform: translateY(-8px);
}

.gridContainer {
    padding-bottom: 4%;
    padding-right: 2%;
    padding-left: 2%;
}

.gridContainer2 {
    padding-bottom: 2%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2%;
    padding: 1%;
}


#name {
    font-size: large;
}

#email {
    font-size: large;
}

.selectedCard {
    box-shadow: 4px 4px 4px #45ff01;
}

.destacarCard {
    box-shadow: 4px 4px 4px #45ff01;
}

input {
    border-radius: 10px;
}

#shop {
    padding-top: 2%;
}

.destacarRoupas{
    box-shadow: 5px 5px 5px #757575;
}

#h1Shop{
    text-align: center;
    padding-top: 5%;
    color: whitesmoke;
}

.shopCarrossel{
    padding: 1%;
    margin-left: 6%;
    margin-top: 2%;
    display: grid;
    grid-auto-flow: column;
}


.imgRoupas{
    width: 16em;
    height: 16em;
    cursor: pointer;
}
