@use '../Sass/variables' as *;

.header{
    background-color: #0C70F2;
    height: 2em;
    font-size: 1.5em;

    ul{
        display: flex;
        list-style: none;
        padding: .5em 2em;
    }

    li{
        padding: 0em .5em ;
    }
   
}